body{
    width: 100%;
    padding:0;
    margin:0;
}

@font-face {
    font-family: mainFontVarela;
    src: url('../Fonts/Varela-Regular.ttf');
}


.main{
    position: relative;
    width:100%;
    max-width:1500px;
    height:500px;
    margin:0 auto;
    font-family: mainFontVarela;
}


/* Topbar */

.topbar{
    position: relative;
    list-style-type: none;
    width:100%;
    height:auto;
    margin:0;
    padding:0;
    margin-top:2px;

    display: flex;
    justify-content: space-between;
}

.topbar li{
    display: inline-block;
}

.left_topbar{
    position: relative;
    margin-left:5px;
}

.right_topbar{
    margin-right:5px;
}

.topbar .title{
    font-size:36px;
    font-weight: bold;
    color: #1D3557;
}

.topbar .search{
    display: inline-flex;
    position: absolute;
    top:7px;
    
}

.search_bar{
    height:30px;
    border: 2px solid #1D3557;
    width:400px;
    margin-left:20px;
    border-radius:17px;
    padding: 0 20px;
    outline:none;
}

.search_icon{
    margin-left: -30px;
    margin-top:9px;
    font-size:14px;
    opacity: 0.5;
}

.search_bar:focus + .search_icon{
    opacity: 1;
}

.tippy-box[data-theme~='customTheme'] {
    background-color: white;
    border: 1px solid #1D3557;
    color: #457B9D;
    font-size:16px;
    border-radius: 6px;
    width:426px;
    padding:5px;
  }

.mobile_searchbar{
    position: relative;
    display: none;
    height:auto;
    width:98%;
    margin:0 auto;
}

.mobile_searchbar .search_bar{
    width:100%;
    margin-left:0;
    border: 1px solid #1D3557;
}

.mobile_searchbar .search_icon{
    position: absolute;
    right:2%;
}

.search_recent{
    list-style: none;
    margin:0 auto;
    padding:0;
}

.search_recent li{
    display: flex;
    justify-content: space-between;
}

.search_recent li span{
    cursor:pointer;
}



.right_topbar{
    font-size:24px;
    color:#1D3557;
    margin-top:8px;
}

.right_topbar .topbar_item{
    margin-left:20px;
}
.right_topbar .topbar_item i{
    margin-right:10px;
}

.fa-circle{
    position: absolute;
    right:45px;
    top:11px;
    color:red;
    font-size:10px;
}

.topbar .hamburger_icon{
    font-size:36px;
    display:none;
}

.mobile_menu{
    height:auto;
    width:100%;
    background-color:#1D3557;
    overflow: hidden;
    list-style: none;
    color:white;
    display: none;
    margin-bottom:5px;
    font-size: 16px;
}

.mobile_menu li{
    margin-left:35px;
}

.mobile_menu li:nth-child(1){
    margin-top:10px;
}
.mobile_menu li:last-child{
    margin-bottom:10px;
}


@media only screen and (max-width: 1200px) {
    .search_bar{
        width:250px;
    }

    .tippy-box[data-theme~='customTheme'] {
        width:270px;
      }
  }

@media only screen and (max-width: 1000px) {
    .right_topbar .topbar_item .topbar_text{
        display: none;
    }

    .fa-circle{
        position: absolute;
        right:-1px;
        top:11px;
        color:red;
        font-size:10px;
    }
}

@media only screen and (max-width: 900px) {
    .topbar_item .search_bar,.topbar_item .search_icon{
        display: none;
    }

    .mobile_searchbar{
        display: flex;
    }

    .topbar .hamburger_icon{
        display: inline-block;
    }
}

@media only screen and (max-width: 600px) {
    .topbar .title{
        font-size:24px;
    }
    .topbar .hamburger_icon{
        font-size:24px;
    }
    .right_topbar .fa-user, .fa-heart, .fa-shopping-cart{
        font-size:16px;
       
    }
    .right_topbar .topbar_item{
        margin-left:0;
    }
    .right_topbar .topbar_item i{
        margin-right:5px;
    }

    .fa-circle{
        top:8px;
        font-size:9px;
    }
    .right_topbar{
        margin-top:0px;
    }
}


/* Categories */

.categories_section{
    display: block;
    width: 100%;
    background-color:#1D3557;
    color:white;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.categories_section li{
    list-style-type: none;
    display: inline-block;
    width:100%;
    padding:10px;
    margin:0 auto;
    cursor: pointer;
    text-align: center;
}

.categories_section li:hover{
    background-color: #457B9D;
}

@media only screen and (max-width: 900px) {
    .categories_section{
        display: none;
    }
}